<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>北海道</key>
	<dict>
		<key>県番号</key>
		<integer>1</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>青森県</key>
	<dict>
		<key>県番号</key>
		<integer>2</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>岩手県</key>
	<dict>
		<key>県番号</key>
		<integer>3</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>宮城県</key>
	<dict>
		<key>県番号</key>
		<integer>4</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>秋田県</key>
	<dict>
		<key>県番号</key>
		<integer>5</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>山形県</key>
	<dict>
		<key>県番号</key>
		<integer>6</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>福島県</key>
	<dict>
		<key>県番号</key>
		<integer>7</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>茨城県</key>
	<dict>
		<key>県番号</key>
		<integer>8</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>栃木県</key>
	<dict>
		<key>県番号</key>
		<integer>9</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>群馬県</key>
	<dict>
		<key>県番号</key>
		<integer>10</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>埼玉県</key>
	<dict>
		<key>県番号</key>
		<integer>11</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>千葉県</key>
	<dict>
		<key>県番号</key>
		<integer>12</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>東京都</key>
	<dict>
		<key>県番号</key>
		<integer>13</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>神奈川県</key>
	<dict>
		<key>県番号</key>
		<integer>14</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>新潟県</key>
	<dict>
		<key>県番号</key>
		<integer>15</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>富山県</key>
	<dict>
		<key>県番号</key>
		<integer>16</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>石川県</key>
	<dict>
		<key>県番号</key>
		<integer>17</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>福井県</key>
	<dict>
		<key>県番号</key>
		<integer>18</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>山梨県</key>
	<dict>
		<key>県番号</key>
		<integer>19</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>長野県</key>
	<dict>
		<key>県番号</key>
		<integer>20</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>岐阜県</key>
	<dict>
		<key>県番号</key>
		<integer>21</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>静岡県</key>
	<dict>
		<key>県番号</key>
		<integer>22</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>愛知県</key>
	<dict>
		<key>県番号</key>
		<integer>23</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>三重県</key>
	<dict>
		<key>県番号</key>
		<integer>24</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>滋賀県</key>
	<dict>
		<key>県番号</key>
		<integer>25</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>京都府</key>
	<dict>
		<key>県番号</key>
		<integer>26</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>大阪府</key>
	<dict>
		<key>県番号</key>
		<integer>27</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>兵庫県</key>
	<dict>
		<key>県番号</key>
		<integer>28</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>奈良県</key>
	<dict>
		<key>県番号</key>
		<integer>29</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>和歌山県</key>
	<dict>
		<key>県番号</key>
		<integer>30</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>鳥取県</key>
	<dict>
		<key>県番号</key>
		<integer>31</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>島根県</key>
	<dict>
		<key>県番号</key>
		<integer>32</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>岡山県</key>
	<dict>
		<key>県番号</key>
		<integer>33</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>広島県</key>
	<dict>
		<key>県番号</key>
		<integer>34</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>山口県</key>
	<dict>
		<key>県番号</key>
		<integer>35</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>徳島県</key>
	<dict>
		<key>県番号</key>
		<integer>36</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>香川県</key>
	<dict>
		<key>県番号</key>
		<integer>37</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>愛媛県</key>
	<dict>
		<key>県番号</key>
		<integer>38</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>高知県</key>
	<dict>
		<key>県番号</key>
		<integer>39</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>福岡県</key>
	<dict>
		<key>県番号</key>
		<integer>40</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>佐賀県</key>
	<dict>
		<key>県番号</key>
		<integer>41</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>長崎県</key>
	<dict>
		<key>県番号</key>
		<integer>42</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>熊本県</key>
	<dict>
		<key>県番号</key>
		<integer>43</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>大分県</key>
	<dict>
		<key>県番号</key>
		<integer>44</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>宮崎県</key>
	<dict>
		<key>県番号</key>
		<integer>45</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>鹿児島県</key>
	<dict>
		<key>県番号</key>
		<integer>46</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
	<key>沖縄県</key>
	<dict>
		<key>県番号</key>
		<integer>47</integer>
		<key>種目</key>
		<integer>0</integer>
		<key>年</key>
		<integer>0</integer>
		<key>満足度</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
